*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
}
img {
  width: 100%;
}

main {
  max-width: 1360px;
  margin: 0 auto;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 70px;
  font-weight: 700;
  color: white;
  line-height: 80px;
  margin-bottom: 20px;
}
p {
  color: white;
}
button {
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}
header button {
  margin-top: 30px;
  background-color: #dd0000;
  border-radius: 5px;
  font-size: 20px;
  padding: 16px 25px;
  color: white;
  transition: opacity 0.3s ease-out;
}
button:hover,
.button-container a:hover {
  opacity: 0.85;
  /* background-color: #c40000; */
}
/* header */
header {
  background-color: #161616;
  border-radius: 30px;
  margin-top: 50px;
  margin-bottom: 130px;
  overflow: hidden;
}
.header-container {
  display: flex;

  align-items: center;
  padding: 0 80px;
}
header img {
  transition: transform 0.4s ease-out;
}

header img:hover {
  transform: scale(1.07);
}

.header-container .text-content {
  padding-right: 30px;
  text-align: start;
}

.header-container img {
  padding-top: 36px;
}

.header-container > * {
  width: 50%;
}

/* section 2 */
.section-2 {
  margin-bottom: 130px;
}
.section-2-container {
  display: grid;
  column-gap: 24px;
  grid-template-columns: 312px 1fr;
  /* different grid height */
  align-items: flex-start;
}
.section-2-container > * {
  border-radius: 10px;
}

.section-2 .button-container {
  background-color: #161616;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 30px;
  padding: 30px;
}

#current-tab {
  background-color: #dd0000;
  color: white;
}

.section-2-container .button-container a {
  text-align: center;
  background-color: white;
  color: #161616;
  padding: 17px 0px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 10px;
  text-decoration: none;
  transition: opacity 0.3s ease-out;
}

.transfer-container {
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr 1fr 1fr;
}
.transfer-container > * {
  border: 1px solid rgb(221, 221, 221);
  border-radius: 10px;
}
.transfer-container p {
  color: #5c5c5c;
}
.transfer-container .icons-container {
  display: flex;
  gap: 30px;
}

.transfer-container h3 {
  font-size: 18px;
  line-height: 27px;
  font-weight: 600;
  color: #161616;
  margin-top: 20px;
  margin-bottom: 20px;
}

.transfer-container button {
  background-color: white;
  border: 1px solid #161616;
  border-radius: 5px;
  padding: 4px 16px;
  font-weight: 500;
  font-size: 16px;
}

.transfer-container .text-content {
  padding: 20px;
}
.transfer-container .text-content-matches {
  padding: 53px 30px;
}

/* footer */
footer {
  background-color: #161616;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
  gap: 50px;
}
footer h2 {
  color: white;
  font-size: 40px;
  font-weight: 600;
}
footer p {
  color: #b9b9b9;
}
footer .list {
  display: flex;
  gap: 60px;
}
footer hr {
  width: 80%;
  border: none;
  border-top: 1px solid #ffffff1a;
}
footer i {
  color: white;
  font-size: 24px;
  transition: opacity 0.3s ease-out;
}
footer i:hover {
  opacity: 0.7;
}
